{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ ebook.image.url }}" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ ebook.title }}</h5>
                <p class="card-text">{{ ebook.description }}</p>
                <p class="card-text">
                    {% if ebook.url %}
                    <a href="{{ ebook.url }}" class="btn btn-primary">Ebook Link</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}