{% extends 'base.html' %}
{% block content %}

<form action="">
    <div class="mb-3">
        <label class="form-label">Search for Ebook:</label>
        <input type="text" name="searchEbook" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<!-- <p>Searching for {{searchTerm}}</p> -->
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for ebook in ebooks %}
    <div v-for="ebook in ebooks" class="col">
        <div class="card">
            <img class="card-img-top" src="{{ ebook.image.url }}" alt="">
            <div class="card-body">
                <a href="{% url 'detail' ebook.id %}">
                    <h5 class="card-title fw-bold">{{ ebook.title }}</h5>
                </a>
                <p class="card-text">{{ ebook.description }}</p>
                {% if ebook.url %}
                <a href="{{ ebook.url }}" class="btn btn-primary">Ebook Link</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}